@import './Utility.scss';

.faq {
  margin: 0 0 6rem 0;
}

.faq__heading {
  text-transform: uppercase;
  color: $accent1;
  font-size: $h4 * .95;
  margin: 0 0 6rem 0;
}

.faq__container {
  display: grid;
  grid-template:
        'one two' auto
        'three four' auto
        / 1fr 1fr;
  grid-gap: 2rem;
}

.faq__container:nth-child(1) {
  grid-area: one;
}

.faq__container:nth-child(2) {
  grid-area: two;
}

.faq__container:nth-child(3) {
  grid-area: three;
}

.faq__container:nth-child(4) {
  grid-area: four;
}
