/* Component styling */
@import "./App.scss";
@import "./Header.scss";
@import "./Hero.scss";
@import "./Speaker.scss";
@import "./Speakers.scss";
@import "./DetailItem.scss";
@import "./Details.scss";
@import "./Map.scss";
@import "./Schedule.scss";
@import "./ScheduleItem.scss";
@import "./Banner1.scss";
@import "./PurchaseOptions.scss";
@import "./PurchaseOption.scss";
@import "./Sponsors.scss";
@import "./FAQ.scss";
@import "./Question.scss";
@import "./Footer.scss";

/* Fixed width sizes */
.App {
  width: 1200px;
  margin: auto;
  @include breakpoint(desktop-small) {
    width: 980px;
  }
  @include breakpoint(tablet-landscape) {
    width: 750px;
  }
  @include breakpoint (tablet-portrait) {
    width: 500px;
  }
  @include breakpoint (phone-only) {
    width: 100%;
  }
}
