@import './Utility.scss';

.map {
  height: 30rem;
  margin: 0 0 6rem 0;
}

.map__wrapper {
  width: 100vw;
  height: 100%;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  border-bottom: 4px solid $accent1;
}
