@import "./Utility.scss";

.question {
  margin: 0 0 0 4rem;
  position: relative;
}

.question::before {
  @include flexbox;
  @include font-display;
  content: '?';
  background-color: $accent2;
  border-radius: 50%;
  color: $dark3;
  position: absolute;
  top: 4px;
  left: -55px;
  font-size: 1.7rem;
  width: 35px;
  height: 35px;
}

.question__question,
.question__answer {
  color: $light;
  font-size: 1.0rem;
}

.question__question {
  @include font-display;
  margin: 0 0 .75rem 0;
  font-size: 1.25rem;
}

.question__answer {
  margin: 0;
  @include font-body;
}
