/**
 * Keith Smith
 * 30 July 2019
 *
 * Holds styling for Hero component.
 *
 * Organized in top down fashion that matches
 * the component's html structure.
 */

@import "../Scss/Utility.scss";

$hero-height: 60vh;

@mixin flexbox-vertical {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@mixin center-grid-item {
  align-self: center;
  justify-self: center;
}

.hero {
  @include font-body;
  width: 100%;
  height: $hero-height;
  margin: 0;
  padding: 0;
}

.hero__content {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template:
        'l r' 100%
        / 3fr 2fr;
  @include breakpoint(tablet-portrait) {
    height: 100%;
    grid-template:
      'l' 1fr
      'r' 4fr
      / 1fr;
  }
}

.hero__content__left,
.hero__content__right {
  z-index: 5;
  @include breakpoint(tablet-portrait) {
    margin: 0;
  }
}

.hero__content__left {
  grid-area: l;
  text-align: left;
  margin-right: 2rem;
  align-self: center;
  justify-self: flex-start;
  @include breakpoint(tablet-portrait) {
    margin-right: 0;
    justify-self: center;
    align-self: flex-end;
  }
}

.hero__content__left__tagline h1 {
  @include flexbox-vertical;
  @include font-display;
  font-size: $h1 * .9;
  align-items: flex-start;
  color: $light;
  @include breakpoint(desktop-small) {
    font-size: $h1 * .75;
  }
  @include breakpoint(tablet-portrait) {
    font-size: $h1 * .6;
    justify-content: flex-end;
    margin: 0;
  }
  @include breakpoint(phone-only) {
    font-size: $h1 * .4;
  }
}

.hero__content__right__wrapper__formhighlight {
  @include flexbox-vertical;
}

.hero__content__right {
  @include center-grid-item;
  grid-area: r;
  justify-self: flex-end;
  @include breakpoint(tablet-portrait) {
    justify-self: center;
  }
}

.hero__content__right__wrapper {
  width: 350px;
  height: auto;
  padding: 2rem;
  background-color: $dark2;
  border-radius: 1rem;
}

.hero__content__right__wrapper * {
  margin-bottom: 1rem;
  color: $light;
  line-height: 1.55rem;
}

.hero__content__right__wrapper h3 {
  font-size: $h3 * .75;
}

.hero__content__right__wrapper form {
  @include flexbox-vertical;
  margin-top: 1rem;
}

.hero__content__right__wrapper input[type=text],
.hero__content__right__wrapper input[type=email],
.hero__content__right__wrapper input[type=submit] {
  margin-bottom: 1rem;
  width: 100%;
  height: 2.8rem;
  border-radius: 0.5rem;
  border: none;
  font-size: 1.75rem;
}

.hero__content__right__wrapper input[type=submit] {
  background-color: $red;
  color: $light;
  font-size: 1.25rem;
  margin-bottom: 0rem;
}

.hero__content__right__wrapper__formhighlight {
  color: $accent2;
  display: inline;
}

.hero__bg {
  grid-row: 1 / 2;
  grid-column: 1 / 3;
  width: 100vw;
  height: $hero-height;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  z-index: 1;
  overflow: hidden;
  border-bottom: 3px solid $accent1;
  @include breakpoint(tablet-portrait) {
    grid-row: 1 / 3;
    grid-column: 1 / 2;
  }
}
