/* Component styling */
@import "./scss/App.scss";
@import "./scss/Header.scss";
@import "./scss/Hero.scss";
@import "./scss/Speaker.scss";
@import "./scss/Speakers.scss";
@import "./scss/DetailItem.scss";
@import "./scss/Details.scss";
@import "./scss/Map.scss";
@import "./scss/Schedule.scss";
@import "./scss/ScheduleItem.scss";
@import "./scss/Banner1.scss";
@import "./scss/Footer.scss";

/* Fixed width sizes */
.App {
  width: 1200px;
  margin: auto;
  @include breakpoint(desktop-small) {
    width: 980px;
  }
  @include breakpoint(tablet-landscape) {
    width: 750px;
  }
  @include breakpoint (tablet-portrait) {
    width: 500px;
  }
  @include breakpoint (phone-only) {
    width: 100%;
  }
}
